*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --background-light-mode: #f8f8f8;
  --background-dark-mode: #242424;
  --black: #000000;
  --white: #ffffff;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  background-color: var(--background-light-mode);
  color: var(--black);
}

.dark-mode {
  background-color: var(--background-dark-mode);
  color: var(--white);
}
.dark-mode .wrapper .container header .search_field_container input[type=text] {
  background-color: var(--background-dark-mode);
  border: 1px solid var(--white);
  color: var(--white);
}
.dark-mode .wrapper .container header .dropdown span {
  background-color: var(--background-dark-mode);
  border: 1px solid var(--white);
}
.dark-mode .wrapper .container header .dropdown #list_of_regions {
  background-color: var(--background-dark-mode);
  border: 1px solid var(--white);
}
.dark-mode .wrapper .container main #list_of_countries li {
  background-color: var(--background-dark-mode);
  border: 1px solid var(--white);
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-light-mode);
  z-index: 10;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  will-change: transform;
}
.loader .loader_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid rgba(36, 36, 36, 0.5);
  border-left-color: #242424;
  -webkit-animation: circle 1.5s linear infinite;
          animation: circle 1.5s linear infinite;
}
@-webkit-keyframes circle {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes circle {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.invisible {
  display: none !important;
}

.wrapper {
  width: 100%;
  padding: 50px 30px;
}
@media (max-width: 520px) {
  .wrapper {
    padding: 30px 14px;
  }
}
.wrapper .scroll_to_top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  font-size: calc(30px + 2.34375vw);
  opacity: 65%;
}
.wrapper .scroll_to_top:hover {
  opacity: 100%;
  cursor: pointer;
}
.wrapper .container {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .wrapper .container {
    max-width: 768px;
  }
}
@media (max-width: 680px) {
  .wrapper .container {
    max-width: 540px;
  }
}
.wrapper .container header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 40px;
}
.wrapper .container header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.wrapper .container header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
@media (max-width: 680px) {
  .wrapper .container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
  }
}
.wrapper .container header h1 {
  font-size: calc(20px + 1.5625vw);
  font-weight: 700;
  margin-bottom: 15px;
}
.wrapper .container header .search_field_container {
  position: relative;
  width: 376px;
}
@media (max-width: 680px) {
  .wrapper .container header .search_field_container {
    width: 100%;
  }
}
.wrapper .container header .search_field_container input[type=text] {
  width: 100%;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #b8b6bf;
  padding: 10px 30px;
  background-color: var(--white);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  text-transform: capitalize;
  font-size: 17px;
  margin-bottom: 10px;
}
@media (max-width: 680px) {
  .wrapper .container header .search_field_container input[type=text] {
    height: 36px;
    font-size: 14px;
    padding: 10px;
  }
}
.wrapper .container header .search_field_container #search_btn {
  position: absolute;
  top: 2px;
  right: 0;
  height: 40px;
  border: none;
  background: none;
}
@media (max-width: 680px) {
  .wrapper .container header .search_field_container #search_btn {
    right: 10px;
    height: 32px;
  }
}
.wrapper .container header .search_field_container #search_btn:hover {
  cursor: pointer;
}
.wrapper .container header .search_field_container .error-message {
  font-size: 14px;
  color: red;
  padding: 0 5px;
}
.wrapper .container header label {
  display: inline-block;
  position: relative;
  width: 72px;
  height: 35px;
  justify-self: flex-end;
}
@media (max-width: 680px) {
  .wrapper .container header label {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 10px;
  }
}
.wrapper .container header label input[type=checkbox] {
  width: 0;
  height: 0;
}
.wrapper .container header label .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 33px;
  background-color: var(--background-dark-mode);
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 3px 2px 1px 0 rgba(199, 199, 199, 0.25);
          box-shadow: inset 3px 2px 1px 0 rgba(199, 199, 199, 0.25);
  cursor: pointer;
}
.wrapper .container header label .slider::before {
  position: absolute;
  top: 1px;
  left: 1px;
  content: "";
  width: 29px;
  height: 29px;
  background: #ff3d00 url("../icons/fox.svg") no-repeat 2px 5px;
  -webkit-box-shadow: 0 3px 4px 0 rgba(255, 1, 0, 0.6);
          box-shadow: 0 3px 4px 0 rgba(255, 1, 0, 0.6);
  border-radius: 50%;
}
.wrapper .container header label .slider::after {
  position: absolute;
  top: 15px;
  left: 19px;
  content: url("../icons/sun.svg");
}
.wrapper .container header label input:checked + .slider::before {
  -webkit-transform: translateX(36px);
          transform: translateX(36px);
  background-color: #2400ff;
  -webkit-box-shadow: 0 3px 4px 0 rgba(36, 0, 255, 0.6);
          box-shadow: 0 3px 4px 0 rgba(36, 0, 255, 0.6);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  will-change: transform;
}
.wrapper .container header label input:checked + .slider::after {
  -webkit-transform: translateX(36px);
          transform: translateX(36px);
  content: url("../icons/moon.svg");
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  will-change: transform;
}
.wrapper .container header label input:not(:checked) + .slider::before {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  will-change: transform;
}
.wrapper .container header label input:not(:checked) + .slider::after {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  will-change: transform;
}
.wrapper .container header .dropdown {
  position: relative;
  width: 144px;
  height: 44px;
  justify-self: flex-end;
}
@media (max-width: 680px) {
  .wrapper .container header .dropdown {
    width: 100%;
    height: 36px;
  }
}
.wrapper .container header .dropdown span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #b8b6bf;
  padding: 10px;
  font-size: 17px;
  background-color: var(--white);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
}
@media (max-width: 680px) {
  .wrapper .container header .dropdown span {
    font-size: 14px;
  }
}
.wrapper .container header .dropdown span:hover {
  cursor: pointer;
}
.wrapper .container header .dropdown #dropdown_btn {
  position: absolute;
  top: 2px;
  right: 3px;
  height: 40px;
  border: none;
  background: none;
  z-index: 1;
}
@media (max-width: 680px) {
  .wrapper .container header .dropdown #dropdown_btn {
    height: 36px;
  }
}
.wrapper .container header .dropdown #dropdown_btn path {
  stroke: #b8b6bf;
}
.wrapper .container header .dropdown #dropdown_btn:hover {
  cursor: pointer;
}
.wrapper .container header .dropdown #dropdown_btn.active {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  will-change: transform;
}
.wrapper .container header .dropdown #dropdown_btn svg {
  pointer-events: none;
}
.wrapper .container header .dropdown #list_of_regions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #b8b6bf;
  border-radius: 10px;
  padding: 40px 0 0;
  background-color: var(--white);
}
.wrapper .container header .dropdown #list_of_regions li {
  position: relative;
  width: 100%;
  height: 35px;
  font-size: 13px;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}
.wrapper .container header .dropdown #list_of_regions li:last-child {
  border-bottom: none;
}
.wrapper .container header .dropdown #list_of_regions li:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  will-change: transform;
}
.wrapper .container main {
  padding-top: 20px;
}
.wrapper .container main #list_of_countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 1000px) {
  .wrapper .container main #list_of_countries {
    gap: 20px;
  }
}
@media (max-width: 680px) {
  .wrapper .container main #list_of_countries {
    gap: 10px;
  }
}
.wrapper .container main #list_of_countries li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc((100% - 120px) / 4);
  border-radius: 10px;
  background-color: var(--white);
  -webkit-box-shadow: 0 4px 29px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 29px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 1000px) {
  .wrapper .container main #list_of_countries li {
    width: calc((100% - 40px) / 3);
  }
}
@media (max-width: 680px) {
  .wrapper .container main #list_of_countries li {
    width: calc((100% - 10px) / 2);
  }
}
.wrapper .container main #list_of_countries li img {
  width: 100%;
  max-height: 180px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .container main #list_of_countries li .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 120px;
  padding: 1em;
}
.wrapper .container main #list_of_countries li .text h2 {
  font-size: calc(12px + 0.390625vw);
  font-weight: 600;
  line-height: 1.3em;
}
.wrapper .container main #list_of_countries li .text h3 {
  font-size: calc(10px + 0.3125vw);
  font-weight: 600;
  line-height: 1.5em;
}
.wrapper .container main #list_of_countries li .text h3 p {
  font-weight: 400;
}